*
!.gitignore
!/api/
!/api/*
!/api/**/
!/api/**/*
!/config/
!/config/*
!/config/**/
!/config/**/*
!/dao/
!/dao/*
!/dao/**/
!/dao/**/*
!/model/
!/model/*
!/model/**/
!/model/**/*
!/server/
!/server/*
!/server/**/
!/server/**/*
!/service/
!/service/*
!/service/**/
!/service/**/*
!AppConfig.json
!cmd.sh
!cmd.bat
!probe.sh
!deployment.yaml
!Dockerfile
!go.mod
!main.go
!README.md
!SourceConfig.json