*
!.gitignore
!/api/
!/api/*
!/api/**/
!/api/**/*
/api/deps/**/status.proto
/api/deps/**/status.pb.go
/api/deps/**/status_web.pb.go
/api/deps/**/status_rpc.pb.go
/api/deps/status_rpc.pb.go
/api/deps/status_rpc.pb.go
/api/deps/status_rpc.pb.go
/api/deps/status_rpc.pb.go
!/config/
!/config/*
!/config/**/
!/config/**/*
!/dao/
!/dao/*
!/dao/**/
!/dao/**/*
!/model/
!/model/*
!/model/**/
!/model/**/*
!/server/
!/server/*
!/server/**/
!/server/**/*
!/service/
!/service/*
!/service/**/
!/service/**/*
!/sdk/
!/sdk/*
!/sdk/**/
!/sdk/**/*
!AppConfig.json
!cmd.sh
!cmd.bat
!probe.sh
!deployment.yaml
!Dockerfile
!go.mod
!main.go
!README.md
!SourceConfig.json
